<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Application2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.sumukh.Login</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Attendee</display-name>
    <servlet-name>Attendee</servlet-name>
    <servlet-class>com.sumukh.Attendee</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attendee</servlet-name>
    <url-pattern>/Attendee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfo</display-name>
    <servlet-name>UserInfo</servlet-name>
    <servlet-class>com.sumukh.UserInfo</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/UserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrideInfo</display-name>
    <servlet-name>BrideInfo</servlet-name>
    <servlet-class>com.sumukh.BrideInfo</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrideInfo</servlet-name>
    <url-pattern>/BrideInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroomInfo</display-name>
    <servlet-name>GroomInfo</servlet-name>
    <servlet-class>com.sumukh.GroomInfo</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroomInfo</servlet-name>
    <url-pattern>/GroomInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadBrideImage</display-name>
    <servlet-name>UploadBrideImage</servlet-name>
    <servlet-class>com.sumukh.UploadBrideImage</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadBrideImage</servlet-name>
    <url-pattern>/UploadBrideImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayImage</display-name>
    <servlet-name>DisplayImage</servlet-name>
    <servlet-class>com.sumukh.DisplayImage</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayImage</servlet-name>
    <url-pattern>/DisplayImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadGroomImage</display-name>
    <servlet-name>UploadGroomImage</servlet-name>
    <servlet-class>com.sumukh.UploadGroomImage</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadGroomImage</servlet-name>
    <url-pattern>/UploadGroomImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayImage2</display-name>
    <servlet-name>DisplayImage2</servlet-name>
    <servlet-class>com.sumukh.DisplayImage2</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayImage2</servlet-name>
    <url-pattern>/DisplayImage2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VenueInfo</display-name>
    <servlet-name>VenueInfo</servlet-name>
    <servlet-class>com.sumukh.VenueInfo</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>VenueInfo</servlet-name>
    <url-pattern>/VenueInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrideRelativeInfo</display-name>
    <servlet-name>BrideRelativeInfo</servlet-name>
    <servlet-class>com.sumukh.BrideRelativeInfo</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrideRelativeInfo</servlet-name>
    <url-pattern>/BrideRelativeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadBrideRelativeImage</display-name>
    <servlet-name>UploadBrideRelativeImage</servlet-name>
    <servlet-class>com.sumukh.UploadBrideRelativeImage</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadBrideRelativeImage</servlet-name>
    <url-pattern>/UploadBrideRelativeImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroomRelativeInfo</display-name>
    <servlet-name>GroomRelativeInfo</servlet-name>
    <servlet-class>com.sumukh.GroomRelativeInfo</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroomRelativeInfo</servlet-name>
    <url-pattern>/GroomRelativeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadGroomRelativeImage</display-name>
    <servlet-name>UploadGroomRelativeImage</servlet-name>
    <servlet-class>com.sumukh.UploadGroomRelativeImage</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadGroomRelativeImage</servlet-name>
    <url-pattern>/UploadGroomRelativeImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeddingInfo</display-name>
    <servlet-name>WeddingInfo</servlet-name>
    <servlet-class>com.sumukh.WeddingInfo</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeddingInfo</servlet-name>
    <url-pattern>/WeddingInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BR1DisplayImage</display-name>
    <servlet-name>BR1DisplayImage</servlet-name>
    <servlet-class>com.sumukh.BR1DisplayImage</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>BR1DisplayImage</servlet-name>
    <url-pattern>/BR1DisplayImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BR2DisplayImage</display-name>
    <servlet-name>BR2DisplayImage</servlet-name>
    <servlet-class>com.sumukh.BR2DisplayImage</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>BR2DisplayImage</servlet-name>
    <url-pattern>/BR2DisplayImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GR1DisplayImage</display-name>
    <servlet-name>GR1DisplayImage</servlet-name>
    <servlet-class>com.sumukh.GR1DisplayImage</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GR1DisplayImage</servlet-name>
    <url-pattern>/GR1DisplayImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GR2DisplayImage</display-name>
    <servlet-name>GR2DisplayImage</servlet-name>
    <servlet-class>com.sumukh.GR2DisplayImage</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GR2DisplayImage</servlet-name>
    <url-pattern>/GR2DisplayImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Attendees</display-name>
    <servlet-name>Attendees</servlet-name>
    <servlet-class>com.sumukh.Attendees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attendees</servlet-name>
    <url-pattern>/Attendees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendeesCount</display-name>
    <servlet-name>AttendeesCount</servlet-name>
    <servlet-class>com.sumukh.AttendeesCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendeesCount</servlet-name>
    <url-pattern>/AttendeesCount</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ContentLanguage</display-name>
    <servlet-name>ContentLanguage</servlet-name>
    <servlet-class>com.sumukh.ContentLanguage</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentLanguage</servlet-name>
    <url-pattern>/ContentLanguage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveDetail</display-name>
    <servlet-name>RemoveDetail</servlet-name>
    <servlet-class>com.sumukh.RemoveDetail</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveDetail</servlet-name>
    <url-pattern>/RemoveDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBrideInfo</display-name>
    <servlet-name>EditBrideInfo</servlet-name>
    <servlet-class>com.sumukh.EditBrideInfo</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBrideInfo</servlet-name>
    <url-pattern>/EditBrideInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditGroomInfo</display-name>
    <servlet-name>EditGroomInfo</servlet-name>
    <servlet-class>com.sumukh.EditGroomInfo</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditGroomInfo</servlet-name>
    <url-pattern>/EditGroomInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditVenueInfo</display-name>
    <servlet-name>EditVenueInfo</servlet-name>
    <servlet-class>com.sumukh.EditVenueInfo</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditVenueInfo</servlet-name>
    <url-pattern>/EditVenueInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBrideRelativeInfo</display-name>
    <servlet-name>EditBrideRelativeInfo</servlet-name>
    <servlet-class>com.sumukh.EditBrideRelativeInfo</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBrideRelativeInfo</servlet-name>
    <url-pattern>/EditBrideRelativeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditGroomRelativeInfo</display-name>
    <servlet-name>EditGroomRelativeInfo</servlet-name>
    <servlet-class>com.sumukh.EditGroomRelativeInfo</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditGroomRelativeInfo</servlet-name>
    <url-pattern>/EditGroomRelativeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditWeddingInfo</display-name>
    <servlet-name>EditWeddingInfo</servlet-name>
    <servlet-class>com.sumukh.EditWeddingInfo</servlet-class>
        <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sumukh</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditWeddingInfo</servlet-name>
    <url-pattern>/EditWeddingInfo</url-pattern>
  </servlet-mapping>
</web-app>